.tex{
   /* padding: 10px 10px;
    border-radius: 3%;
    background-color: rgb(118, 51, 227);*/
    width: 65%;
    font-family: 'Mukta', sans-serif;
    text-align:justify;
    font-size: 20px;
}
.contenedor-formacion a{
    color: rgb(216, 161, 79);
    text-decoration: none;
}
.contenedor-formacion a:hover{
    color:aqua;
}

.titulo-separar{
    padding-left: 10%;
    padding-bottom: 15px;
    font-size: 40px;
}
.titulo-separar:hover{
color: blueviolet;
}